@import './variables.scss';
@import './fonts.scss';
@import './normalize.scss';
@import './util.scss';
@import './mixins.scss';
@import './animations.scss';

html, body {
	width: 100%;
	height: 100%;
}

body {
	min-height: 100%;
}

.content-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	.content {
		max-width: $tablet;
		position: relative;
	}
}

.foreground {
	width: 100%;
	display: inline-block;
	position: relative;
	z-index: 2;

	.door {
		img {
			display: block;
		}
	}

	.left, .right {
		width: 50%;
		position: relative;
	}

	.left {
		float: left;

		.holidays, .scroll {
			right: 0;
		}

		.holidays {
			// background-position: 240px 0;
		}

		.scroll {
			// background-position: 347px 0;
		}
	}

	.right {
		float: right;

		.holidays, .scroll {
			left: 0;
		}

		.holidays {
			// background-position: -144px 0;
		}

		.scroll {
			// background-position: -37px 0;
		}
	}

	.holidays, .scroll {
		position: absolute;
		width: 100%;
	}

	.holidays {
		// background: url(../assets/images/happyholidays_split.png) no-repeat;
		// height: 260px;
		width: 36.734693877551%;
		@include vertical-center();
	}

	.scroll {
		// background: url(../assets/images/scroll_split.png) no-repeat;
		// height: 70px;
		width: 9.821428571429%;
		bottom: 15%;
	}

	.copy {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
}

.background {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	.inner {
		width: 100%;
		height: 100%;
		background-color: black;
	}
}

@media(max-width: $tablet) {
	.content-wrapper {
		.content {
			max-width: 100%;
		}
	}

	.foreground {
		height: 100%;

		.left .door img, .right .door img {
			width: auto;
			height: 100%;
			max-height: 100%;
		}

		.holidays {
			// background-size: 150% !important;
			// height: 610px;
			width: 69.333333333333%;
			margin-right: 2px;
		}

		.scroll {
			// height: 110px;
			width: 18.4%;
			bottom: 22%;
		}

		.left {
			.holidays {
				margin-right: 5px;
			}

			.door img {
				float: right;
			}
		}

		.right {
			.holidays {
				margin-left: -3px;
			}

			.door img {
				float: left;
			}
		}
	}
}

@media(max-width: $iphone6) {
	.content {
		height: 100%;
	}

	.foreground {
		.left, .right {
			height: 100%;
		}

		.left {
			.door {
				margin-left: 1px;
			}

			// .scroll {
			// 	background-position: 146px 0;
			// }

			// .holidays {
			// 	background-position: 44px 0;
			// }
		}

		// .right {
		// 	.scroll {
		// 		background-position: -43px 0;
		// 	}

		// 	.holidays {
		// 		background-position: -144px 0;
		// 	}
		// }

		.scroll {
			// height: 80px;
			bottom: 11%;
		}

		.holidays {
			// height: 300px;
		}

		.door {
			height: 98%;
		}

		.door img:first-child {
			height: initial;
		}
	}
}