@import './variables.scss';
@import './fonts.scss';
@import './normalize.scss';
@import './util.scss';
@import './mixins.scss';
@import './animations.scss';

html, body {
	width: 100%;
	height: 100%;
}

body {
	min-height: 100%;
}

.content-wrapper {
	position: relative;
	width: 100%;
	height: 100%;

	.content {
		max-width: $tablet;
		position: relative;
		z-index: 2;
		@include horizontal-center();
	}

	.content:after {
		position: absolute;
		content: "";
		background: url(../assets/images/lines.svg) no-repeat 0 0;
		background-size: contain;
		width: 140%;
		margin-left: -20%;
		height: 100px;
		bottom: -49px;
		left: 0;
	}
}

.foreground {
	width: 100%;
	display: inline-block;
	position: relative;
	z-index: 2;

	.door {
		img {
			display: block;
		}
	}

	.left, .right {
		width: 50%;
		position: relative;
		transform: translateX(0%);
	}

	.left {
		float: left;

		.holidays, .scroll {
			right: 0;
		}
	}

	.right {
		float: right;

		.holidays, .scroll {
			left: 0;
		}
	}

	.holidays, .scroll {
		position: absolute;
		width: 100%;
	}

	.holidays {
		width: 36.734693877551%;
		@include vertical-center();
	}

	.scroll {
		width: 9.821428571429%;
		bottom: 15%;
	}

	.copy {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
}

.background {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	overflow: hidden;

	.inner {
		width: 100%;
		height: 100%;
		background-color: black;

		.tree {
			position: absolute;
			height: inherit;
			transform: scale(1.05);
			display: inline-block;

			.t1, .t2, .t3 {
				position: absolute;
				top: 0;
				left: 0;
			}

			.t1 {
				position: relative;
				z-index: 1;
			}

			.t2 {
				z-index: 2;
				animation: fade-one 2s infinite;
			}

			.t3 {
				z-index: 3;
				animation: fade-two 2s infinite;
			}
		}

		.message {
			position: absolute;
			bottom: 2%;
			width: 55%;
			@include horizontal-center();
			z-index: 10;

			img {
				transition: 1s opacity;
				transform: scaleZ(1);
			}

			.w2 {
				margin-top: 17px;
			}

			.w3 {
				margin-top: -3px;
			}
		}
	}
}

.mobile-background {
	display: none;

	.inner img.tree {
		transform: initial;
		width: initial;
		height: 100%;
	}

	.inner .tree {
		img {
			height: 100%;
			width: initial;
		}
	}
}

.snowground {
	z-index: 1;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background: url(../assets/images/snow.png) no-repeat center 0 fixed;
	background-size: auto 100%;
}

@media(max-width: $tablet) {
	.content-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;

		.content {
			max-width: 100%;
		}

		.content:after {
			content: initial;
		}
	}

	.foreground {
		height: 100%;

		.left .door img, .right .door img {
			width: auto;
			height: 100%;
			max-height: 100%;
		}

		.holidays {
			width: 69.333333333333%;
			margin-right: 2px;
		}

		.scroll {
			width: 18.4%;
			bottom: 22%;
		}

		.left {
			.holidays {
				margin-right: 5px;
			}

			.door img {
				float: right;
			}
		}

		.right {
			.holidays {
				margin-left: -3px;
			}

			.door img {
				float: left;
			}
		}
	}

	.desktop-background {
		display: none;
	}

	.mobile-background {
		display: block;

		.inner .message {
			width: 60%;
			bottom: 8%;
		}
	}

	.snowground {
		display: none;
	}
}

@media(max-width: $iphone6) {
	.content {
		height: 100%;
	}

	.foreground {
		height: 99%;

		.left, .right {
			height: 100%;
		}

		.left {
			.door {
				margin-left: 1px;
			}
		}

		.scroll {
			bottom: 11%;
		}

		.door {
			height: 98%;
		}

		.door img:first-child {
			height: initial;
		}
	}

	.background {
		.inner .message {
			bottom: 5%;
			width: 85%;
		}

		.w1 {
			margin-bottom: -3px;
		}
		.w3 {
			margin-top: 13px;
		}
	}
}