@mixin horizontal-center($useMargin: 0) {
  @if $useMargin == 0 {
    left: 50%;
  } @else {
    margin-left: 50%;
  }
	transform: translateX(-50%);
}

@mixin vertical-center($useMargin: 0) {
	@if $useMargin == 0 {
    top: 50%;
  } @else {
    margin-top: 50%;
  }
	transform: translateY(-50%);
}

@mixin center($useMargin: 0) {
	@if $useMargin == 0 {
    left: 50%;
    top: 50%;
  } @else {
    margin-top: 50%;
    margin-left: 50%;
  }
	transform: translate(-50%, -50%);
}